
 {{> navbar}}
 <div class='form-container'>  

<h3> Edit patient status</h3>

{{#each results}}
<form class="user m-3" action="/app/lookup/patient/{{bsn.0.id}}/edit" method="POST"> 
<div class="form-group row">
    <label>BSN</label>
<input class="form-control" value='{{bsn.0.bsnnumber}}' disabled >
</div>
<div class="form-group row">
    <label>Name:</label>
<input class="form-control" value='{{bsn.0.name}}' disabled>
</div>
<div class="form-group row">
    <label>Gender:</label>
<input class="form-control" value='{{bsn.0.gender}}' disabled>
</div>
<div class="form-group row">
<label>Current status infection: </label>
<select class="form-control" name='status'>
<option value="{{status}}" hidden="hidden" selected="selected">{{status}}</option>
<option name='Home'>Home</option>
<option name='Hospitalized'>Hospitalized</option>
<option name='IC'>IC</option>
<option name='Deceased'>Deceased</option>
<option name='Recovered'>Recovered</option>
</select>
<br />
<em>Last updated: {{formatDate ../updatedAt}}</em>
</div>


<button type="submit" class="btn btn-danger ml-n3">Save change in the database</button>
</form>
<br />
{{/each}}
<p><a href="/app/lookup/patient/{{results.0.bsn.0.id}}" class="btn btn-info">Cancel change and return to patient result</a></p>


</div>