<h3>Selected Patient Information</h3>
<br />
<p><a href="/app/lookup/patient/" class="btn btn-primary">Back to the lookup screen</a></p>
{{#if results}}
<p><a href="/app/lookup/patient/{{results.0.bsn.0.id}}/edit" class="btn btn-danger">Edit status of patient</a></p>
{{#each results}}
<p>BSN: {{bsn.0.bsnnumber}}</p>
<p>Name: {{bsn.0.name}}</p>
<p>Birth Date: {{formatDate bsn.0.birthdate}}</p>
<p>Age: {{bsn.0.age}}</p>
<p>Gender: {{bsn.0.gender}}</p>
<p>Status: {{status}}</p>
<p>Region: {{region}}</p>
<p>Healthcare Worker: {{healthcareworker.0.username}}</p>
<br />
{{/each}}
<h5>History of patient</h5>
{{#each results.0.history}}
<p>{{formatDate Date}}: {{Status}}</p>
{{/each}}
{{else}}
<p>This person is not a patient</p>
{{/if}}

