
 {{> navbar}}
<div class='form-container'> 
<h3>Selected patient information</h3>
<br />

{{#if results}}
  <ul class="list-group list-group-flush"> 
      {{#each results}}

<li class='list-group-item'><span> BSN</span><span style='float: right;'>{{bsn.0.bsnnumber}} </span></li>
<li class='list-group-item'><span> Name</span><span style='float: right;'>{{bsn.0.name}} </span></li>
<li class='list-group-item'><span> Birthdate</span><span style='float: right;'>{{formatDate bsn.0.birthdate}} </span></li>
<li class='list-group-item'><span> Gender</span><span style='float: right;'>{{bsn.0.gender}} </span></li>
<li class='list-group-item'><span> Status</span><span style='float: right;'>{{status}} </span></li>
<li class='list-group-item'><span> Region</span><span style='float: right;'>{{region}} </span></li>
<li class='list-group-item'><span>Healthcare worker</span><span style='float: right;'>{{healthcareworker.0.username}}</span></li>
         
          {{/each}}
</ul> 
<br />
<h5>History of patient</h5>

  <ul class="list-group list-group-flush"> 
{{#each results.0.history}}
<li class='list-group-item'><span> {{Status}}</span><span style='float: right;'>{{formatDate Date}} </span></li>
{{/each}}
</ul> 
{{else}}
<p>This person is not a patient</p>
{{/if}}

<br />
<p><a href="/app/lookup/patient/{{results.0.bsn.0.id}}/edit" class="btn btn-warning">Edit status of patient</a></p><p></p>
<p><a href="/app/lookup/patient/" class="btn btn-info">Back to the lookup screen</a></p>


</div>

