
 <nav class="navbar">
   <h3>COVID-19 App</h3>
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fa fa-bars"></i>
        </span>
    <a href="#" class="logo"><i class="fa fa-viruses" style='color:white;'></i></a>
    
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/app/home" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/app/lookup/patient" class="nav-links">Lookup patient</a>
      </li>
      <li>
        <a href="/app/signup/" class="nav-links">Register Patient</a>
      </li>
      <li>
        <a href="/app/patients" class="nav-links">My patients</a>
      </li>
     
    </ul>
  </nav>
 


<div class='form-container'> 
<h3> Lookup person</h3>
<br />
{{#if patientIsRegistered}}
<p>Patient is already registered!</p>
<br />
<a href="/app/lookup/patient/{{bsnResults.id}}" class="btn btn-warning">Edit patient status</a>
<br />
{{else}}

{{#if results}}
{{#each results}}
<p><a class="btn btn-info" href="/app/signup/lookup/{{id}}">Select</a>&nbsp; BSN: {{bsnnumber}} | Name: {{name}} | Birth Date: {{formatDate birthdate}} | Age: {{age}} | Gender: {{gender}}</p>
<br />
{{/each}}
<br />
{{else}}
<br />
<p>You're search did not provide any results.</p>
{{/if}}
<p><a href="/app/signup/patient/" class="btn btn-danger">Register a new patient?</a></p>
{{/if}}

</div>