
 {{> navbar}}
 
<div class='form-container'> 

<h3>Step 2 - Select</h3>
<br />
{{#if patientIsRegistered}}
<p>Patient is already registered!</p>
<br />
<a href="/app/lookup/patient/{{bsnResults.id}}" class="btn btn-warning">Edit patient status</a>
<br />
{{else}}


{{#if results}}
<p>Please select the person you want to register.</p>
<table role="table" class='table-md w-100 table-hover font-smaller'>
  <thead role="rowgroup">
    <tr role="row">
      <th role="columnheader">BSN</th>
      <th role="columnheader">Name</th>
      <th role="columnheader">Birth date</th>
      <th role="columnheader">Gender</th>
      

    </tr>
  </thead>
  <tbody role="rowgroup">


{{#each results}}

<tr role="row">
      <td role="cell">{{bsnnumber}}</td>
      <td role="cell">{{name}}</td>
      <td role="cell">{{formatDate birthdate}}</td>
      <td role="cell">{{gender}}</td>
      <td ><a class="btn btn-info btn-sm btn-sm mt-1 mb-2" href="/app/signup/lookup/{{id}}">Register selected person</a></td>
          </tr>

{{/each}}
</tbody></table>

{{else}}
<br />
<div class="text-center">
<p>The person you are searching for does not exists in the government database.</p>
<p><a href="/app/signup/patient/" class="btn btn-danger">Register the person and as a new patient</a></p>
</div>
{{/if}}
{{/if}}

</div>