<h3> Lookup person</h3>
<br />
{{#if patientIsRegistered}}
<p>Patient is already registered!</p>
<br />
<a href="/app/lookup/patient/{{bsnResults.id}}" class="btn btn-warning">Edit patient status</a>
<br />
{{else}}

{{#each results}}
<p><a class="btn btn-info" href="/app/signup/lookup/{{id}}">Select</a>&nbsp; BSN: {{bsnnumber}} | Name: {{name}} | Birth Date: {{formatDate birthdate}} | Age: {{age}} | Gender: {{gender}}</p>
<br />
{{/each}}
<br />
<p><a href="/app/signup/patient/" class="btn btn-danger">Register a new patient</a></p>
{{/if}}