<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/admin/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Home</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

     

      <!-- Nav Item - Pages Collapse Menu -->
           <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Dashboard</span></a>
      </li>

      
      

      <!-- Nav Item - Charts -->
      {{#if admin}}
<li class="nav-item">
        <a class="nav-link" href="/admin/userlist">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Userlist</span></a>
      </li>
{{/if}}   


      <li class="nav-item">
        <a class="nav-link" href="/admin/patientlist">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Patients</span></a>
      </li>
 <li class="nav-item">
        <a class="nav-link" href="/admin/logout">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Logout</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

     
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
           {{> navbaradmin}}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

<h2>App User List</h2>

{{#if saveMessage}}
<div class="alert alert-success" role="alert">
 {{saveMessage}}
</div>
{{/if}}

<a href="/admin/userlist/add-user" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right"> Add a user</a>
<br />
    <p></p>
     <table class="table table-sm table-striped font-weight-light font-smaller">
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">GGD region</th>
      <th scope="col">Role</th>
      <th scope="col">Registration date</th>
       <th scope="col"></th>
        <th scope="col"></th>
         <th scope="col"></th>
    </tr>
  </thead>
  <tbody id='userlist'>
   {{#each users}}
   <tr><td>{{@index}}</td><td>{{this.username}}</td><td>{{this.region}}</td><td>{{this.role}}</td><td>{{this.regDate}}</td>
   <td><a href="/admin/userlist/{{this.id}}/edit" style="float: right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
   </td>
      <td><a href="/admin/userlist/{{this.id}}/mail" style="float: right"><i class="fa fa-envelope-square" aria-hidden="true"></i></a></td>

<td><a href="#myModal" data-toggle="modal" data-username='{{this.username}}' data-delete-id='/admin/userlist/{{this.id}}/delete' class='delete-button'> <i class="fa fa-trash" aria-hidden="true"></i></a></td>
 
   </tr>
   {{/each}}

  </tbody>
</table>

<!-- Modal -->
<!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete user</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         Are you sure you want to delete user <b><span id='user-delete'> </span></b> from the userlist?<p></p>
         <a href="" class="btn btn-danger" id='delete-modal'>Confirm deletion</a>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

 
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © COVID-19</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
  </div>


